@page "/covid19"

@using datathingies.Data
@using Humanizer
@inject Covid19DataService _covid

<div class="markdown">


    <h1>Covid19 Data</h1>

    @if (top25cases == null && top25deaths == null && top25vaccinations == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2> Top 25 </h2>

        <div class="container">
            <div class="lg:grid lg:grid-flow-col lg:space-x-8 w-full">

                <div>
                    <h3>Cases</h3>
                    <table class="table-fixed w-full">
                        <thead>
                            <th class="w-2/5"></th>
                            <th class="w-1/5">📌</th>
                            <th class="w-1/5">❌</th>
                            <th class="w-1/5">💉</th>
                        </thead>
                        <tbody>
                            @foreach (var entry in top25cases)
                            {
                                <tr>
                                    <td class="truncate" title=@entry.Location>@entry.Location</td>
                                    <td title=@entry.TotalCases>@entry.TotalCases?.ToMetric(decimals: 1)</td>
                                    <td title=@entry.TotalDeaths>@entry.TotalDeaths?.ToMetric(decimals: 1)</td>
                                    <td title=@entry.TotalVaccinations>@entry.TotalVaccinations?.ToMetric(decimals: 1)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div>
                    <h3>Deaths</h3>
                    <table class="table-fixed w-full">
                        <thead>
                            <th class="w-2/5"></th>
                            <th class="w-1/5">📌</th>
                            <th class="w-1/5">❌</th>
                            <th class="w-1/5">💉</th>
                        </thead>
                        <tbody>
                            @foreach (var entry in top25deaths)
                            {
                                <tr>
                                    <td class="truncate" title=@entry.Location>@entry.Location</td>
                                    <td title=@entry.TotalCases>@entry.TotalCases?.ToMetric(decimals: 1)</td>
                                    <td title=@entry.TotalDeaths>@entry.TotalDeaths?.ToMetric(decimals: 1)</td>
                                    <td title=@entry.TotalVaccinations>@entry.TotalVaccinations?.ToMetric(decimals: 1)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div>
                    <h3>Vaccinations</h3>
                    <table class="table-fixed w-full">
                        <thead>
                            <th class="w-2/5"></th>
                            <th class="w-1/5">📌</th>
                            <th class="w-1/5">❌</th>
                            <th class="w-1/5">💉</th>
                        </thead>
                        <tbody>
                            @foreach (var entry in top25vaccinations)
                            {
                                <tr>
                                    <td class="truncate" title=@entry.Location>@entry.Location</td>
                                    <td title=@entry.TotalCases>@entry.TotalCases?.ToMetric(decimals: 1)</td>
                                    <td title=@entry.TotalDeaths>@entry.TotalDeaths?.ToMetric(decimals: 1)</td>
                                    <td title=@entry.TotalVaccinations>@entry.TotalVaccinations?.ToMetric(decimals: 1)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    }

</div>

@code {
    private IEnumerable<Covid19DataEntry> top25cases;
    private IEnumerable<Covid19DataEntry> top25deaths;
    private IEnumerable<Covid19DataEntry> top25vaccinations;

    protected override async Task OnInitializedAsync()
    {
        await _covid.InitializeData();

        top25cases = _covid.GetTop25CountriesByCases();
        top25deaths = _covid.GetTop25CountriesByDeaths();
        top25vaccinations = _covid.GetTop25CountriesByVaccinations();
    }
}
