@page "/covid19/highest25"

@using datathingies.Data
@using Humanizer
@inject Covid19DataService _covid

<div class="markdown">


    <h1>Covid19 Data</h1>

    @if (highest25cases == null && highest25deaths == null && highest25vaccinations == null)
    {
        <LoadingElement></LoadingElement>
    }
    else
    {
        <h2> Top 25 </h2>

        <div class="container">
            <div class="lg:grid lg:grid-flow-col lg:space-x-4 w-full">

                <div>
                    <h3>Cases</h3>
                    <table class="table-fixed w-full">
                        <thead>
                            <th class="w-8 text-right">#</th>
                            <th class="w-2/5">Country</th>
                            <th class="w-1/5 text-right">📌</th>
                            <th class="w-1/5 text-right">❌</th>
                            <th class="w-1/5 text-right">💉</th>
                        </thead>
                        <tbody>
                            @foreach (var entry in highest25cases)
                            {
                                <tr>
                                    <td class="text-right">@(highest25cases.IndexOf(entry) + 1)</td>
                                    <td class="truncate" title=@entry.Location>@entry.Location</td>
                                    <td class="text-right" title=@entry.TotalCases>@entry.TotalCases?.ToMetric(decimals: 1)</td>
                                    <td class="text-right" title=@entry.TotalDeaths>@entry.TotalDeaths?.ToMetric(decimals: 1)
                                    </td>
                                    <td class="text-right" title=@entry.TotalVaccinations>
                                        @entry.TotalVaccinations?.ToMetric(decimals: 1)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div>
                    <h3>Deaths</h3>
                    <table class="table-fixed w-full">
                        <thead>
                            <th class="w-8 text-right">#</th>
                            <th class="w-2/5">Country</th>
                            <th class="w-1/5 text-right">📌</th>
                            <th class="w-1/5 text-right">❌</th>
                            <th class="w-1/5 text-right">💉</th>
                        </thead>
                        <tbody>
                            @foreach (var entry in highest25deaths)
                            {
                                <tr>
                                    <td class="text-right">@(highest25deaths.IndexOf(entry) + 1)</td>
                                    <td class="truncate" title=@entry.Location>@entry.Location</td>
                                    <td class="text-right" title=@entry.TotalCases>@entry.TotalCases?.ToMetric(decimals: 1)</td>
                                    <td class="text-right" title=@entry.TotalDeaths>@entry.TotalDeaths?.ToMetric(decimals: 1)
                                    </td>
                                    <td class="text-right" title=@entry.TotalVaccinations>
                                        @entry.TotalVaccinations?.ToMetric(decimals: 1)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div>
                    <h3>Vaccinations</h3>
                    <table class="table-fixed w-full">
                        <thead>
                            <th class="w-8 text-right">#</th>
                            <th class="w-2/5">Country</th>
                            <th class="w-1/5 text-right">📌</th>
                            <th class="w-1/5 text-right">❌</th>
                            <th class="w-1/5 text-right">💉</th>
                        </thead>
                        <tbody>
                            @foreach (var entry in highest25vaccinations)
                            {
                                <tr>
                                    <td class="text-right">@(highest25vaccinations.IndexOf(entry) + 1)</td>
                                    <td class="truncate" title=@entry.Location>@entry.Location</td>
                                    <td class="text-right" title=@entry.TotalCases>@entry.TotalCases?.ToMetric(decimals: 1)</td>
                                    <td class="text-right" title=@entry.TotalDeaths>@entry.TotalDeaths?.ToMetric(decimals: 1)
                                    </td>
                                    <td class="text-right" title=@entry.TotalVaccinations>
                                        @entry.TotalVaccinations?.ToMetric(decimals: 1)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    }

</div>

@code {
    private List<Covid19CondensedData> highest25cases;
    private List<Covid19CondensedData> highest25deaths;
    private List<Covid19CondensedData> highest25vaccinations;

    protected override async Task OnInitializedAsync()
    {
        await _covid.InitializeData();

        highest25cases = _covid.GetHighest25CountriesByCases().ToList();
        highest25deaths = _covid.GetHighest25CountriesByDeaths().ToList();
        highest25vaccinations = _covid.GetHighest25CountriesByVaccinations().ToList();
    }
}
